
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>kendısasdasfa</h3>

<table class="table table-bordered text-center " >
    <tr>
        <th>id</th>
        <th>ad</th>
        <th>departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>hüseyin</td>
        <td>Tekniker</td>
    </tr>
</table>  